---
http_interactions:
- request:
    method: get
    uri: https://my-okta.okta.com/api/v1/users/-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - V4amYecW8MPGyQhffgDRzAAABq8
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1195'
      x-rate-limit-reset:
      - '1468442224'
    body:
      encoding: ASCII-8BIT
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        -1 (User)","errorLink":"E0000007","errorId":"oaeCZQeBDDxTIeU_182kmLBLA","errorCauses":[]}'
  recorded_at: Wed, 13 Jul 2016 20:36:49 GMT
recorded_with: VCR 2.9.3
