---
http_interactions:
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/users/-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 405
      message: 
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - V4ccsbdUfGp94vBLix3cmwAAA24
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1196'
      x-rate-limit-reset:
      - '1468472557'
    body:
      encoding: ASCII-8BIT
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        -1 (User)","errorLink":"E0000007","errorId":"oaeI-7C1r7-TGq0ybJoIaYkgw","errorCauses":[]}'
  recorded_at: Thu, 14 Jul 2016 05:01:37 GMT
recorded_with: VCR 3.0.3
