---
http_interactions:
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/apps/id/lifecycle/activate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - V4cK8hOu1-dHlvqIBTtguwAAAjk
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1194'
      x-rate-limit-reset:
      - '1468468011'
    body:
      encoding: ASCII-8BIT
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        id (AppInstance)","errorLink":"E0000007","errorId":"oaeE3oQgdOXRbeB8B7EykFC-Q","errorCauses":[]}'
  recorded_at: Thu, 14 Jul 2016 03:45:53 GMT
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/apps/0oa6nmg6fdvwvoHwR0h7/lifecycle/activate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4cPcOkF-t6HOvQdBAVQpAAABtc
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1199'
      x-rate-limit-reset:
      - '1468469164'
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Thu, 14 Jul 2016 04:05:04 GMT
recorded_with: VCR 2.9.3
