---
http_interactions:
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/groups
    body:
      encoding: UTF-8
      string: '{"profile":{"name":"New Group Users","description":"New Group Users"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4eQ@yGXJLimuAsnJGeNywAABts
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1199'
      x-rate-limit-reset:
      - '1468502327'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"00g6o0uh8xcL5WbyZ0h7","created":"2016-07-14T13:17:47.000Z","lastUpdated":"2016-07-14T13:17:47.000Z","lastMembershipUpdated":"2016-07-14T13:17:47.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"New
        Group Users","description":"New Group Users"},"_links":{"logo":[{"name":"medium","href":"https://op1static.oktacdn.com/assets/img/logos/groups/okta-medium.d7fb831bc4e7e1a5d8bd35dfaf405d9e.png","type":"image/png"},{"name":"large","href":"https://op1static.oktacdn.com/assets/img/logos/groups/okta-large.511fcb0de9da185b52589cb14d581c2c.png","type":"image/png"}],"users":{"href":"https://okta-test.okta.com/api/v1/groups/00g6o0uh8xcL5WbyZ0h7/users"},"apps":{"href":"https://okta-test.okta.com/api/v1/groups/00g6o0uh8xcL5WbyZ0h7/apps"}}}'
  recorded_at: Thu, 14 Jul 2016 13:17:47 GMT
recorded_with: VCR 3.0.3
