---
http_interactions:
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/groups/rules
    body:
      encoding: UTF-8
      string: '{"name":"New Group Rule","type":"group_rule","conditions":{"expression":{"type":"urn:okta:expression:1.0","value":"isMemberOfAnyGroup(\"00gj57nf29Hb16yys0h7\")"}},"actions":{"assignUserToGroups":{"groupIds":["00gnztfrp0uIKGEf80h7"]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      public-key-pins-report-only:
      - pin-sha256="jZomPEBSDXoipA9un78hKRIeN/+U4ZteRaiX8YpWfqc="; pin-sha256="axSbM6RQ+19oXxudaOTdwXJbSr6f7AahxbDHFy3p8s8=";
        pin-sha256="SE4qe2vdD9tAegPwO79rMnZyhHvqj3i5g1c2HkyGUNE="; pin-sha256="ylP0lMLMvBaiHn0ihLxHjzvlPVQNoyQ+rMiaj0da/Pw=";
        max-age=60; report-uri="https://okta.report-uri.io/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - Xa5CmNXJtAtvPoJxfwPXAgAADB8
      x-rate-limit-limit:
      - '500'
      x-rate-limit-remaining:
      - '499'
      x-rate-limit-reset:
      - '1571701460'
    body:
      encoding: UTF-8
      string: '{"type":"group_rule","id":"0prnztlu4bzSqZ2vG0h7","status":"INACTIVE","name":"New
        Group Rule","created":"2019-10-21T23:43:20.000Z","lastUpdated":"2019-10-21T23:43:20.000Z","conditions":{"expression":{"value":"isMemberOfAnyGroup(\"00gj57nf29Hb16yys0h7\")","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gnztfrp0uIKGEf80h7"]}},"allGroupsValid":true}'
  recorded_at: Mon, 21 Oct 2019 23:43:16 GMT
recorded_with: VCR 2.9.3
