---
http_interactions:
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/idps
    body:
      encoding: UTF-8
      string: '{"type":"SAML2","name":"Example IdP","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"credentials":{"trust":{"issuer":"https://idp.example.com","audience":"http://www.okta.com/123","kid":"74bb2164-e0c8-4457-862b-7c29ba6cd2c9"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":true,"groups":{"action":"NONE"}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"saml.subjectNameId"},"format":["urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified"],"filter":"(\\S+@example\\.com)","matchType":"USERNAME"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - V4efKZ9thkP2wy3aoVKBrwAAAk8
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1199'
      x-rate-limit-reset:
      - '1468505957'
    body:
      encoding: UTF-8
      string: '{"id":"0oa62bfdjnK55Z5x80h7","type":"SAML2","name":"Example IdP","status":"ACTIVE","created":"2016-03-24T23:14:54.000Z","lastUpdated":"2016-03-24T23:14:54.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com","binding":"HTTP-POST","destination":"https://idp.example.com"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified"},"credentials":{"trust":{"issuer":"https://idp.example.com","audience":"http://www.okta.com/123","kid":"your-key-id"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":true,"groups":{"action":"NONE"}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"saml.subjectNameId"},"filter":"(\\S+@example\\.com)","matchType":"USERNAME"},"maxClockSkew":0},"_links":{"metadata":{"href":"https://your-domain.okta.com/api/v1/idps/0oa62bc8wppPw0UGr0h7/metadata.xml","type":"application/xml","hints":{"allow":["GET"]}},"acs":{"href":"https://your-domain.okta.com/sso/saml2/0oa62bc8wppPw0UGr0h7","type":"application/xml","hints":{"allow":["POST"]}},"users":{"href":"https://your-domain.okta.com/api/v1/idps/0oa62bc8wppPw0UGr0h7/users","hints":{"allow":["GET"]}},"deactivate":{"href":"https://your-domain.okta.com/api/v1/idps/0oa62bc8wppPw0UGr0h7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
  recorded_at: Thu, 14 Jul 2016 14:18:17 GMT
recorded_with: VCR 3.0.3
