---
http_interactions:
- request:
    method: put
    uri: https://okta-test.okta.com/api/v1/users/00u6nm9ytbmwHeunx0h7/roles/ra16nmg6csiUalQhH0h7/targets/catalog/apps/googleappsadmin
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 204
      message: 
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - V4cKJSYcvFaIMTB5bR6cfwAACIA
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1199'
      x-rate-limit-reset:
      - '1468467809'
    body:
      encoding: ASCII-8BIT
      string: '{"errorCode":"E0000006","errorSummary":"You do not have permission
        to perform the requested action","errorLink":"E0000006","errorId":"oaeh6oRcngtRjCvCQcIEXqWHA","errorCauses":[]}'
  recorded_at: Thu, 14 Jul 2016 03:42:28 GMT
recorded_with: VCR 2.9.3
