---
http_interactions:
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/users/00u6nm9ytbmwHeunx0h7/roles
    body:
      encoding: UTF-8
      string: '{"type":"SUPER_ADMIN"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4cFKJ9thkP2wy3aoVJXggAAAZI
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1194'
      x-rate-limit-reset:
      - '1468466477'
    body:
      encoding: UTF-8
      string: '{"id":"ra16nmck9rsYOQiqi0h7","label":"Super Organization Administrator","type":"SUPER_ADMIN","status":"ACTIVE","created":"2016-07-14T03:21:12.000Z","lastUpdated":"2016-07-14T03:21:12.000Z"}'
  recorded_at: Thu, 14 Jul 2016 03:21:11 GMT
recorded_with: VCR 2.9.3
