---
http_interactions:
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/users/id/credentials/change_recovery_question
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - V4cZ2LdUfGp94vBLix3KEQAAA4Y
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1138'
      x-rate-limit-reset:
      - '1468471810'
    body:
      encoding: ASCII-8BIT
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        id (User)","errorLink":"E0000007","errorId":"oaeHkJQoQrXQSCD2VrHJRNPfg","errorCauses":[]}'
  recorded_at: Thu, 14 Jul 2016 04:49:29 GMT
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/credentials/change_recovery_question
    body:
      encoding: UTF-8
      string: '{"password":{"value":"NewPassword1234!"},"recovery_question":{"question":"Where
        is Shopify''s HQ?","answer":"Ottawa"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4eY0eXAfLU1ttNceQfDSAAAA6c
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1199'
      x-rate-limit-reset:
      - '1468504333'
    body:
      encoding: ASCII-8BIT
      string: '{"password":{},"recovery_question":{"question":"Where is Shopify''s
        HQ?"},"provider":{"type":"OKTA","name":"OKTA"}}'
  recorded_at: Thu, 14 Jul 2016 13:51:14 GMT
recorded_with: VCR 3.0.3
