---
http_interactions:
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/credentials/change_password
    body:
      encoding: UTF-8
      string: '{"oldPassword":{"value":"uTVM,TPw55"},"newPassword":{"value":"NewPassword1234!"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4eYcbr8O12L419F@fl1pAAAA0c
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1199'
      x-rate-limit-reset:
      - '1468504237'
    body:
      encoding: ASCII-8BIT
      string: '{"password":{},"recovery_question":{"question":"How much wood could
        a woodchuck chuck?"},"provider":{"type":"OKTA","name":"OKTA"}}'
  recorded_at: Thu, 14 Jul 2016 13:49:37 GMT
recorded_with: VCR 3.0.3
