---
http_interactions:
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/users
    body:
      encoding: UTF-8
      string: '{"profile":{"firstName":"Example","lastName":"User","email":"example@example.com","login":"example@example.com"},"credentials":{"password":{"value":"MyPassword123!"},"recovery_question":{"question":"How
        much wood could a woodchuck chuck?","answer":"A woodchuck could chuck as much
        as he could chuck."}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4eT1NtnJBqDdYPiZonztwAAC0c
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1197'
      x-rate-limit-reset:
      - '1468503008'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"00u6o0w6tyuPVEeZr0h7","status":"ACTIVE","created":"2016-07-14T13:29:56.000Z","activated":"2016-07-14T13:29:56.000Z","statusChanged":"2016-07-14T13:29:56.000Z","lastLogin":null,"lastUpdated":"2016-07-14T13:29:56.000Z","passwordChanged":"2016-07-14T13:29:56.000Z","profile":{"firstName":"Example","lastName":"User","login":"example@example.com","mobilePhone":null,"email":"example@example.com","secondEmail":null},"credentials":{"password":{},"recovery_question":{"question":"How
        much wood could a woodchuck chuck?"},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/lifecycle/suspend","method":"POST"},"resetPassword":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/lifecycle/reset_password","method":"POST"},"expirePassword":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/lifecycle/expire_password","method":"POST"},"forgotPassword":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/credentials/forgot_password","method":"POST"},"self":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7"},"changeRecoveryQuestion":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/credentials/change_recovery_question","method":"POST"},"deactivate":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/lifecycle/deactivate","method":"POST"},"changePassword":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/credentials/change_password","method":"POST"}}}'
  recorded_at: Thu, 14 Jul 2016 13:29:56 GMT
recorded_with: VCR 3.0.3
