---
http_interactions:
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/users/00u6nm9ytbmwHeunx0h7/factors
    body:
      encoding: UTF-8
      string: '{"factorType":"sms","provider":"OKTA","profile":{"phoneNumber":"+1-613-456-1234"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4en0g7SELDyJL1gVC5gFwAAAIw
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1198'
      x-rate-limit-reset:
      - '1468508153'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"mbl6o3uhd97Rc2PM70h7","factorType":"sms","provider":"OKTA","vendorName":"OKTA","status":"PENDING_ACTIVATION","created":"2016-07-14T14:55:15.000Z","lastUpdated":"2016-07-14T14:55:15.000Z","profile":{"phoneNumber":"+16134561234"},"_links":{"activate":{"href":"https://okta-test.okta.com/api/v1/users/00u6nm9ytbmwHeunx0h7/factors/mbl6o3uhd97Rc2PM70h7/lifecycle/activate","hints":{"allow":["POST"]}},"resend":[{"name":"sms","href":"https://okta-test.okta.com/api/v1/users/00u6nm9ytbmwHeunx0h7/factors/mbl6o3uhd97Rc2PM70h7/resend","hints":{"allow":["POST"]}}],"self":{"href":"https://okta-test.okta.com/api/v1/users/00u6nm9ytbmwHeunx0h7/factors/mbl6o3uhd97Rc2PM70h7","hints":{"allow":["GET"]}},"user":{"href":"https://okta-test.okta.com/api/v1/users/00u6nm9ytbmwHeunx0h7","hints":{"allow":["GET"]}}}}'
  recorded_at: Thu, 14 Jul 2016 14:55:15 GMT
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/users/00u6nm9ytbmwHeunx0h7/factors?factorType=sms&profile%5BphoneNumber%5D=%2B1-613-456-1234&provider=OKTA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 401
      message: 
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - V4ft6eeutR4DI8vky1VpHAAAAJQ
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1192'
      x-rate-limit-reset:
      - '1468526057'
      www-authenticate:
      - SSWS
    body:
      encoding: UTF-8
      string: '{"errorCode":"E0000011","errorSummary":"Invalid token provided","errorLink":"E0000011","errorId":"oae2FvGF4nUSaS0E-23l_VOeQ","errorCauses":[]}'
  recorded_at: Thu, 14 Jul 2016 19:54:17 GMT
recorded_with: VCR 2.9.3
