---
http_interactions:
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/lifecycle/expire_password
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4eXjyYcvFaIMTB5bR7AxgAACI0
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1199'
      x-rate-limit-reset:
      - '1468504011'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"00u6o0w6tyuPVEeZr0h7","status":"PASSWORD_EXPIRED","created":"2016-07-14T13:29:56.000Z","activated":"2016-07-14T13:34:22.000Z","statusChanged":"2016-07-14T13:45:51.000Z","lastLogin":"2016-07-14T13:44:17.000Z","lastUpdated":"2016-07-14T13:45:51.000Z","passwordChanged":"2016-07-14T13:44:53.000Z","profile":{"firstName":"Other
        Bob","lastName":"User","login":"example@example.com","mobilePhone":null,"email":"julian+2@example.com","secondEmail":null},"credentials":{"password":{},"recovery_question":{"question":"How
        much wood could a woodchuck chuck?"},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/lifecycle/suspend","method":"POST"},"resetPassword":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/lifecycle/reset_password","method":"POST"},"expirePassword":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/lifecycle/expire_password","method":"POST"},"forgotPassword":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/credentials/forgot_password","method":"POST"},"self":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7"},"changeRecoveryQuestion":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/credentials/change_recovery_question","method":"POST"},"deactivate":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/lifecycle/deactivate","method":"POST"},"changePassword":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/credentials/change_password","method":"POST"}}}'
  recorded_at: Thu, 14 Jul 2016 13:45:51 GMT
recorded_with: VCR 3.0.3
