---
http_interactions:
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/idps/0oa62bfdjnK55Z5x80h7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - V4cZzSGXJLimuAsnJGeikQAABtQ
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1181'
      x-rate-limit-reset:
      - '1468471810'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0oa62bfdjnK55Z5x80h7","type":"LINKEDIN","name":"LinkedIn","status":"ACTIVE","created":"2016-03-24T23:23:59.000Z","lastUpdated":"2016-03-24T23:23:59.000Z","protocol":{"type":"OAUTH2","endpoints":{"authorization":{"url":"https://www.linkedin.com/uas/oauth2/authorization","binding":"HTTP-REDIRECT"},"token":{"url":"https://www.linkedin.com/uas/oauth2/accessToken","binding":"HTTP-POST"}},"scopes":["r_basicprofile","r_emailaddress"],"credentials":{"client":{"client_id":"your-client-id","client_secret":"your-client-secret"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":true,"groups":{"action":"NONE"}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.userPrincipalName"},"filter":null,"matchType":"USERNAME"},"maxClockSkew":0},"_links":{"authorize":{"href":"https://your-domain.okta.com/oauth2/v1/authorize?idp=0oa62bfdjnK55Z5x80h7&          client_id={clientId}&response_type={responseType}&response_mode={responseMode}&          scope={scopes}&redirect_uri={redirectUri}&state={state}","templated":true,"hints":{"allow":["GET"]}},"clientRedirectUri":{"href":"https://your-domain.okta.com/oauth2/v1/authorize/callback","hints":{"allow":["POST"]}}}}'
  recorded_at: Thu, 14 Jul 2016 04:49:17 GMT

recorded_with: VCR 3.0.3
