---
http_interactions:
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/idps/tx/satvklBYyJmwa6qOg0g3/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - V4cZz7dUfGp94vBLix3J6AAAA5w
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1174'
      x-rate-limit-reset:
      - '1468471810'
    body:
      encoding: UTF-8
      string: '{"externalId":"1437424479920471","profile":{"middleName":null,"lastName":"Zuckersky","email":"mark_drvbrjr_zuckersky@tfbnw.net","displayName":"Mark Zuckersky","firstName":"Mark","profile":"https://www.facebook.com/app_scoped_user_id/1437424479920471/"},"_links":{"idp":{"href":"https://example.okta.com/api/v1/idps/0oabmluDNh2JZi8lt0g4"}}}'
  recorded_at: Thu, 14 Jul 2016 04:49:19 GMT
recorded_with: VCR 3.0.3
