---
http_interactions:
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/apps/0oa6nmg6fdvwvoHwR0h7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4cOtDgc0PBG8@sl2WnTSQAABpM
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1199'
      x-rate-limit-reset:
      - '1468468976'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0oa6nmg6fdvwvoHwR0h7","name":"template_saml_2_0","label":"Example
        SAML App","status":"ACTIVE","lastUpdated":"2016-07-14T03:55:40.000Z","created":"2016-07-14T03:55:39.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"SAML_2_0","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{}},"settings":{"app":{"audienceRestriction":"https://example.com/tenant/123","groupName":null,"forceAuthn":false,"defaultRelayState":null,"postBackURL":"https://example.com/sso/saml","authnContextClassRef":"urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport","configuredIssuer":null,"requestCompressed":"COMPRESSED","groupFilter":null,"recipient":"https://example.com/sso/saml","signAssertion":"SIGNED","destination":"https://example.com/sso/saml","signResponse":"SIGNED","nameIDFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress","attributeStatements":null},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}}},"_links":{"logo":[{"name":"medium","href":"https://op1static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"appLinks":[{"name":"login","href":"https://okta-test.okta.com/home/template_saml_2_0/0oa6nmg6fdvwvoHwR0h7/1541","type":"text/html"}],"help":{"href":"https://okta-test.okta.com/app/template_saml_2_0/0oa6nmg6fdvwvoHwR0h7/setup/help/SAML_2_0/instructions","type":"text/html"},"users":{"href":"https://okta-test.okta.com/api/v1/apps/0oa6nmg6fdvwvoHwR0h7/users"},"deactivate":{"href":"https://okta-test.okta.com/api/v1/apps/0oa6nmg6fdvwvoHwR0h7/lifecycle/deactivate"},"groups":{"href":"https://okta-test.okta.com/api/v1/apps/0oa6nmg6fdvwvoHwR0h7/groups"},"metadata":{"href":"https://okta-test.okta.com/api/v1/apps/0oa6nmg6fdvwvoHwR0h7/sso/saml/metadata","type":"application/xml"}}}'
  recorded_at: Thu, 14 Jul 2016 04:01:56 GMT
recorded_with: VCR 2.9.3
