---
http_interactions:
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/apps/0oa6nmg6fdvwvoHwR0h7/groups/00g6nm9yt5VEl6xYd0h7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4cVvUkS67yJuNE68sz4SgAABOw
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1197'
      x-rate-limit-reset:
      - '1468470719'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"00g6nm9yt5VEl6xYd0h7","lastUpdated":"2016-07-14T04:30:59.000Z","priority":0,"profile":{},"_links":{"app":{"href":"https://okta-test.okta.com/api/v1/apps/0oa6nmg6fdvwvoHwR0h7"},"self":{"href":"https://okta-test.okta.com/api/v1/apps/0oa6nmg6fdvwvoHwR0h7/groups/00g6nm9yt5VEl6xYd0h7"},"group":{"href":"https://okta-test.okta.com/api/v1/groups/00g6nm9yt5VEl6xYd0h7"}}}'
  recorded_at: Thu, 14 Jul 2016 04:31:57 GMT
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/apps/0oa6nmg6fdvwvoHwR0h7/groups/00g6o0uh8xcL5WbyZ0h7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - V4eZUxOu1-dHlvqIBTuk-gAAAcs
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1194'
      x-rate-limit-reset:
      - '1468504415'
    body:
      encoding: ASCII-8BIT
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        00g6o0uh8xcL5WbyZ0h70oa6nmg6fdvwvoHwR0h7 (GroupAppAssignment)","errorLink":"E0000007","errorId":"oaeFuBC56NDQVif7VlkgTLwTw","errorCauses":[]}'
  recorded_at: Thu, 14 Jul 2016 13:53:23 GMT
recorded_with: VCR 3.0.3
