---
http_interactions:
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/idps/tx/satvklBYyJmwa6qOg0g3/lifecycle/confirm/00u6o0w6tyuPVEeZr0h7
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - V4cZ0EkS67yJuNE68swX6wAABPk
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1170'
      x-rate-limit-reset:
      - '1468471810'
    body:
      encoding: UTF-8
      string: '{"id":"satvklBYyJmwa6qOg0g3","status":"SUCCESS","sessionToken":"20111FLDl04JoQdl-NJOB9A6HosTSuHtQQUmCBhdEvnE4XEInod0Sg_","expiresAt":"2016-01-04T02:53:13.000Z","created":"2016-01-04T02:44:53.000Z","idp":{"id":"0oabmluDNh2JZi8lt0g4","name":"Facebook","type":"FACEBOOK"},"context":{"userAgent":"Mozilla/5.0
        (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko)         Chrome/47.0.2526.106
        Safari/537.36","ipAddress":"127.0.0.1"},"_links":{"next":{"href":"https://example.okta.com/api/v1/idps/tx/satvkokI9JsOxqsjz0g3/finish","hints":{"allow":["POST"]}},"cancel":{"href":"https://example.okta.com/api/v1/idps/tx/satvkokI9JsOxqsjz0g3/cancel","hints":{"allow":["POST"]}}}}'
  recorded_at: Thu, 14 Jul 2016 04:49:20 GMT
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/idps/tx/satvklBYyJmwa6qOg0g3/lifecycle/confirm/00u6o0w6tyuPVEeZr0h7?profile%5BuserType%5D=Social
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 401
      message: 
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - V4ft6QGS9zmUxx1I@cf5xwAAAkg
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1199'
      x-rate-limit-reset:
      - '1468526117'
      www-authenticate:
      - SSWS
    body:
      encoding: UTF-8
      string: '{"errorCode":"E0000011","errorSummary":"Invalid token provided","errorLink":"E0000011","errorId":"oaeuEqxym_HSE2g3KALtf4Agw","errorCauses":[]}'
  recorded_at: Thu, 14 Jul 2016 19:54:17 GMT
recorded_with: VCR 2.9.3
