---
http_interactions:
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      public-key-pins-report-only:
      - pin-sha256="jZomPEBSDXoipA9un78hKRIeN/+U4ZteRaiX8YpWfqc="; pin-sha256="axSbM6RQ+19oXxudaOTdwXJbSr6f7AahxbDHFy3p8s8=";
        pin-sha256="SE4qe2vdD9tAegPwO79rMnZyhHvqj3i5g1c2HkyGUNE="; pin-sha256="ylP0lMLMvBaiHn0ihLxHjzvlPVQNoyQ+rMiaj0da/Pw=";
        max-age=60; report-uri="https://okta.report-uri.io/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - XYkzY3yKVU6ghoLZeSGhrQAAA1c
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '599'
      x-rate-limit-reset:
      - '1569272735'
      link:
      - <https://okta-test.okta.com/api/v1/users?limit=200>; rel="self"
    body:
      encoding: UTF-8
      string: '[{"actor":{"id":"sprjaqy8d2OwK2qnq0h7","type":"SystemPrincipal","alternateId":"system@okta.com","displayName":"Okta System","detailEntry":null},"client":{"userAgent":null,"zone":null,"device":null,"id":null,"ipAddress":null,"geographicalContext":null},"authenticationContext":{"authenticationProvider":null,"credentialProvider":null,"credentialType":null,"issuer":null,"interface":null,"authenticationStep":0,"externalSessionId":"trs6DA22ImyTiKKlR0RSfwyeA"},"displayMessage":"import started","eventType":"system.import.start","outcome":{"result":"SUCCESS","reason":null},"published":"2019-07-01T03:23:37.478Z","securityContext":{"asNumber":null,"asOrg":null,"isp":null,"domain":null,"isProxy":null},"severity":"INFO","debugContext":{"debugData":{"jobId":"ij1lxp7303kBQlUT40h7","importType":"Incremental","appname":"google","importTrigger":"Schedule"}},"legacyEventType":"app.generic.import.started","transaction":{"type":"JOB","id":"ij1lxp7303kBQlUT40h7","detail":{}},"uuid":"9d74f291-9baf-11e9-95b6-371469f8aeb0","version":"0","request":{"ipChain":[]},"target":[{"id":"0oaktfd2v7z477UR30h7","type":"AppInstance","alternateId":"G Suite","displayName":"G Suite","detailEntry":null}]},{"actor":{"id":"sprjaqy8d2OwK2qnq0h7","type":"SystemPrincipal","alternateId":"system@okta.com","displayName":"Okta System","detailEntry":null},"client":{"userAgent":null,"zone":null,"device":null,"id":null,"ipAddress":null,"geographicalContext":null},"authenticationContext":{"authenticationProvider":null,"credentialProvider":null,"credentialType":null,"issuer":null,"interface":null,"authenticationStep":0,"externalSessionId":"trs6DA22ImyTiKKlR0RSfwyeA"},"displayMessage":"Batch import process complete","eventType":"system.import.complete_batch","outcome":{"result":"SUCCESS","reason":null},"published":"2019-07-01T03:23:39.299Z","securityContext":{"asNumber":null,"asOrg":null,"isp":null,"domain":null,"isProxy":null},"severity":"INFO","debugContext":{"debugData":{"appname":"google","totalTime":"2 seconds"}},"legacyEventType":"app.generic.import.batch.complete","transaction":{"type":"JOB","id":"ij1lxp7303kBQlUT40h7","detail":{}},"uuid":"9e8acf7f-9baf-11e9-95b6-371469f8aeb0","version":"0","request":{"ipChain":[]},"target":[{"id":"0oaktfd2v7z477UR30h7","type":"AppInstance","alternateId":"G Suite","displayName":"G Suite","detailEntry":null}]}]'
  recorded_at: Mon, 23 Sep 2019 21:04:16 GMT
recorded_with: VCR 2.9.3
