---
http_interactions:
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/groups/rules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"type":"group_rule","id":"0prt3z9wdtNLNPdpL0x7","status":"INACTIVE","name":"New
        Group Rule","conditions":{"expression":{"value":"user.title==\"Tester\"","type":"urn:okta:expression:1.0"}},"actions":{"assignUserToGroups":{"groupIds":["00gt3zbab0n2wn7ik0x7"]}},"allGroupsValid":true}]'
  recorded_at: Thu, 14 Oct 2021 22:20:31 GMT
recorded_with: VCR 2.9.3
