---
http_interactions:
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/templates/sms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4cZ059thkP2wy3aoVLwxwAAAhk
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1159'
      x-rate-limit-reset:
      - '1468471810'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"default","name":"Default","type":"SMS_VERIFY_CODE","template":"Your
        verification code is ${code}.","created":"2016-07-14T04:49:23.000Z","lastUpdated":"2016-07-14T04:49:23.000Z"}]'
  recorded_at: Thu, 14 Jul 2016 04:49:23 GMT
recorded_with: VCR 3.0.3
