---
http_interactions:
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/authorizationServers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - YnGehVhdKuxdG5l0zqK3QgAADHI
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '99'
      x-rate-limit-reset:
      - '1651613377'
      link:
      - <https://okta-test.okta.com/api/v1/authorizationServers?limit=200>; rel="self",
        <https://okta-test.okta.com/api/v1/authorizationServers?after=aus4wmezfewflnJvd5d7&limit=200>;
        rel="next"
    body:
      encoding: UTF-8
      string: '[{"id":"aus2hb5ut7J9TaWsJ5d7","name":"default","description":"Default
        Authorization Server for your Applications","audiences":["api://default"],"issuer":"https://okta-test.okta.com/oauth2/default","issuerMode":"ORG_URL","status":"ACTIVE","created":"2021-11-02T19:45:09.000Z","lastUpdated":"2021-11-02T19:45:09.000Z","credentials":{"signing":{"kid":"a5MbTY-hmvv-yi3WXFFSZTew6pfTd5ZkXoSnPoPyZaA","rotationMode":"AUTO","lastRotated":"2022-05-03T03:36:21.000Z","nextRotation":"2022-08-01T03:36:21.000Z"}},"_links":{"rotateKey":{"href":"https://okta-test.okta.com/api/v1/authorizationServers/default/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://okta-test.okta.com/oauth2/default/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://okta-test.okta.com/oauth2/default/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://okta-test.okta.com/api/v1/authorizationServers/default/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://okta-test.okta.com/api/v1/authorizationServers/default/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://okta-test.okta.com/api/v1/authorizationServers/default/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://okta-test.okta.com/api/v1/authorizationServers/default","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://okta-test.okta.com/api/v1/authorizationServers/default/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://okta-test.okta.com/api/v1/authorizationServers/default/lifecycle/deactivate","hints":{"allow":["POST"]}}}},{"id":"aus4wmezfewflnJvd5d7","name":"Sample
        Authorization Server","description":"Sample Authorization Server description","audiences":["api://default"],"issuer":"https://okta-test.okta.com/oauth2/aus4wmezfewflnJvd5d7","issuerMode":"DYNAMIC","status":"ACTIVE","created":"2022-05-03T21:12:24.000Z","lastUpdated":"2022-05-03T21:12:24.000Z","credentials":{"signing":{"kid"[...]
