---
http_interactions:
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4cZxp9thkP2wy3aoVLvZAAAAcI
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1199'
      x-rate-limit-reset:
      - '1468471810'
      link:
      - <https://okta-test.okta.com/api/v1/events?after=tevxIm0rDD6SXaygrLEKaG98A1468464977000&limit=1000>;
        rel="self", <https://okta-test.okta.com/api/v1/events?after=tevTtcpWnmlQR2ee_MTTNEkeA1468471509000&limit=1000>;
        rel="next"
    body:
      encoding: ASCII-8BIT
      string: '[{"eventId":"tevFfpQO21cTNamj17Qz2rKgg1468464977000","sessionId":"trsmFbKVy6IQIyzW1jQZDeyBQ","requestId":"V4b-UNtnJBqDdYPiZomvWgAAC48","published":"2016-07-14T02:56:17.000Z","action":{"message":"App
        configuration updated ","categories":[],"objectType":"app.generic.config.app_updated","requestUri":"/api/internal/orgs"},"actors":[{"id":"00u2wp3qxjFMNQCSPMTQ","displayName":"Flickerbox
        Freetrial","login":"freetrial@okta.com","objectType":"User"},{"id":"Java/1.7.0_79","displayName":"UNKNOWN","ipAddress":"54.160.189.12","objectType":"Client"}],"targets":[{"id":"0oa6nlr5780cdStFo0h7","objectType":"AppInstance"}]},{"eventId":"tevPHgPs9UKRquufxj4CoqrOQ1468464977000","sessionId":"trsYmKM5tH5Qae_h3dO08V9Fg","requestId":"V4b-UNtnJBqDdYPiZomvWgAAC48","published":"2016-07-14T02:56:17.000Z","action":{"message":"Policy
        created (id: 00p6nlr57etGXBil60h7, type: OktaSignOn)","categories":["Policy
        Lifecycle"],"objectType":"policy.created","requestUri":"/api/internal/orgs"},"actors":[{"id":"spr6nlr575xTYVG1l0h7","objectType":"User"},{"id":"Java/1.7.0_79","displayName":"UNKNOWN","ipAddress":"54.160.189.12","objectType":"Client"}],"targets":[]},{"eventId":"tevlbumPcdiSHuyfkYfZUE5LA1468464977000","sessionId":"trsYmKM5tH5Qae_h3dO08V9Fg","requestId":"V4b-UNtnJBqDdYPiZomvWgAAC48","published":"2016-07-14T02:56:17.000Z","action":{"message":"Policy
        rule (id: 0pr6nlr57fzcilD050h7, type: signOn) added to Policy (id: 00p6nlr57etGXBil60h7,
        type: OktaSignOn)","categories":["Policy Lifecycle"],"objectType":"policy.rule.added","requestUri":"/api/internal/orgs"},"actors":[{"id":"spr6nlr575xTYVG1l0h7","objectType":"User"},{"id":"Java/1.7.0_79","displayName":"UNKNOWN","ipAddress":"54.160.189.12","objectType":"Client"}],"targets":[]},{"eventId":"tevusSASAl6SqyCkXb0b5bgDw1468464978000","sessionId":"trseuf_8RdYQ4q9C7n5H3om9Q","requestId":"V4b-UNtnJBqDdYPiZomvWgAAC48","published":"2016-07-14T02:56:18.000Z","action":{"message":"User
        profi[...]
