---
http_interactions:
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/apps/0oaYAubtaubhslaOg0x7/users?expand=user&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - WLiCVF8U4UhgCxUWInBa7wAAAhI
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1188'
      x-rate-limit-reset:
      - '1488487008'
      link:
      - <https://okta-test.okta.com/api/v1/apps/0oaYAubtaubhslaOg0x7/users?limit=1>;
        rel="self", <https://okta-test.okta.com/api/v1/apps/0oaYAubtaubhslaOg0x7/users?after=0uabjltuhb3i1DFvQ0x7&limit=1>;
        rel="next"
    body:
      encoding: UTF-8
      string: '[{"id":"00u3krc0foy2vAhng0x7","externalId":null,"created":"2017-02-03T00:15:33.000Z","lastUpdated":"2017-02-03T00:15:33.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2017-02-03T00:15:33.000Z","passwordChanged":null,"syncState":"DISABLED","lastSync":null,"credentials":{"userName":"fred.jones@okta-test.com"},"profile":{},"_links":{"app":{"href":"https://okta-test.okta.com/api/v1/apps/0oaYAubtaubhslaOg0x7"},"user":{"href":"https://okta-test.okta.com/api/v1/users/00u3krc0foy2vAhng0x7"}},"_embedded":{"user":{"id":"00u3krc0foy2vAhng0x7","status":"ACTIVE","created":"2015-12-14T21:29:59.000Z","activated":"2015-12-14T21:29:59.000Z","statusChanged":"2015-12-17T20:50:07.000Z","lastLogin":"2017-02-27T02:11:38.000Z","lastUpdated":"2017-03-02T16:00:21.000Z","passwordChanged":"2015-12-17T20:50:07.000Z","profile":{"login":"fred.jones@okta-test.com","mobilePhone":"","email":"fred.jones@okta-test.com","secondEmail":null,"firstName":"Fred","lastName":"Jones","streetAddress":"","manager":"","department":"","countryCode":"","state":"","costCenter":"",
        "city":"","organization":"","title":"","primaryPhone":"","zipCode":""},"credentials":{"password":{},"recovery_question":{"question":"What''s your first pet''s name?"},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://okta-test.okta.com/api/v1/users/00u3krc0foy2vAhng0x7/lifecycle/suspend","method":"POST"},"resetPassword":{"href":"https://okta-test.okta.com/api/v1/users/00u3krc0foy2vAhng0x7/lifecycle/reset_password","method":"POST"},"resetFactors":{"href":"https://okta-test.okta.com/api/v1/users/00u3krc0foy2vAhng0x7/lifecycle/reset_factors","method":"POST"},"expirePassword":{"href":"https://okta-test.okta.com/api/v1/users/00u3krc0foy2vAhng0x7/lifecycle/expire_password","method":"POST"},"forgotPassword":{"href":"https://okta-test.okta.com/api/v1/users/00u3krc0foy2vAhng0x7/credentials/forgot_password","method":"POST"},"self":{"href":"https://okta-test.okta.com/api/v1/users/00u3krc0foy2vAhng0x7"},"changeRecoveryQuestion":{"href":"https://okta-test.okta.com/api/v1/users/00u3krc0foy2vAhng0x7/credentials/change_recovery_question","method":"POST"},
        "deactivate":{"href":"https://okta-test.okta.com/api/v1/users/00u3krc0foy2vAhng0x7/lifecycle/deactivate","method":"POST"},"changePassword":{"href":"https://okta-test.okta.com/api/v1/users/00u3krc0foy2vAhng0x7/credentials/change_password","method":"POST"}}}}}]'
  recorded_at: Thu, 02 Mar 2017 20:36:36 GMT
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/apps/0oaYAubtaubhslaOg0x7/users?after=0uabjltuhb3i1DFvQ0x7&expand=user&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - WLiCVOnEBdD6iy7DGPf2qwAACf4
 [...]
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/apps/0oaYAubtaubhslaOg0x7/users?after=0uablg4csyYtROpzz0x7&expand=user&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - WLiDF2QJ5JGUHYFcEHg5eQAADTE
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1195'
      x-rate-limit-reset:
      - '1488487248'
      link:
      - <https://okta-test.okta.com/api/v1/apps/0oaYAubtaubhslaOg0x7/users?after=0uablg4csyYtROpzz0x7&limit=1>;
        rel="self"
    body:
      encoding: UTF-8
      string: '[{"id":"00u2KfbkaUBHftHaj0x7","externalId":null,"created":"2017-02-28T21:09:03.000Z","lastUpdated":"2017-02-28T21:09:03.000Z","scope":"GROUP","status":"ACTIVE","statusChanged":"2017-02-28T21:09:03.000Z","passwordChanged":null,"syncState":"DISABLED","lastSync":null,"credentials":{"userName":"jack.johns@okta-test.com"},"profile":{},"_links":{"app":{"href":"https://okta-test.okta.com/api/v1/apps/0oaYAubtaubhslaOg0x7"},"group":{"name":"Team
        Okta-Test","href":"https://okta-test.okta.com/api/v1/groups/00g1cuhdz4NhNgvwP0x7"},"user":{"href":"https://okta-test.okta.com/api/v1/users/00u2KfbkaUBHftHaj0x7"}},"_embedded":{"user":{"id":"00u2KfbkaUBHftHaj0x7","status":"ACTIVE","created":"2017-02-14T01:11:36.000Z","activated":"2017-02-14T01:11:37.000Z","statusChanged":"2017-02-20T16:52:37.000Z","lastLogin":"2017-03-02T14:56:41.000Z","lastUpdated":"2017-02-20T16:52:37.000Z","passwordChanged":"2017-02-20T16:52:37.000Z","profile":{"mobilePhone":"","email":"jack.johns@okta-test.com","secondEmail":null,"firstName":"Jack","lastName":"Johns","login":"jack.johns@okta-test.com","streetAddress":"","organization":"","title":"","manager":"","primaryPhone":"","department":"","zipCode":"","countryCode":"","state":"","costCenter":"","city":"","ssh_public_keys":""},"credentials":{"password":{},"recovery_question":{"question":"Where
        did you go for your favorite vacation?"},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://okta-test.okta.com/api/v1/users/00u2KfbkaUBHftHaj0x7/lifecycle/suspend","method":"POST"},"resetPassword":{"href":"https://okta-test.okta.com/api/v1/users/00u2KfbkaUBHftHaj0x7/lifecycle/reset_password","method":"POST"},"resetFactors":{"href":"https://okta-test.okta.com/api/v1/users/00u2KfbkaUBHftHaj0x7/lifecycle/reset_factors","method":"POST"},"expirePassword":{"href":"https://okta-test.okta.com/api/v1/users/00u2KfbkaUBHftHaj0x7/lifecycle/expire_password","method":"POST"},"forgotPassword":{"href":"https://okta-test.okta.com/api/v1/users/00u2KfbkaUBHftHaj0x7/credentials/forgot_password","method":"POST"},"self":{"href":"https://okta-test.okta.com/api/v1/users/00u2KfbkaUBHftHaj0x7"},"changeRecoveryQuestion":{"href":"https://okta-test.okta.com/api/v1/users/00u2KfbkaUBHftHaj0x7/credentials/change_recovery_question","method":"POST"},"deactivate":{"href":"https://okta-test.okta.com/api/v1/users/00u2KfbkaUBHftHaj0x7/lifecycle/deactivate","method":"POST"},"changePassword":{"href":"https://okta-test.okta.com/api/v1/users/00u2KfbkaUBHftHaj0x7/credentials/change_password","method":"POST"}}}}}]'
  recorded_at: Thu, 02 Mar 2017 20:39:52 GMT
recorded_with: VCR 3.0.3
