---
http_interactions:
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4hFJjU4zIDuh6bjDC6T8wAAF-o
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1197'
      x-rate-limit-reset:
      - '1468548404'
      link:
      - <https://okta-test.okta.com/api/v1/users?limit=200>; rel="self", <https://okta-test.okta.com/api/v1/users?after=200u3c0kdjah7fmnvO0x7&limit=200>;
        rel="next"
    body:
      encoding: UTF-8
      string: '[{"id":"idWoY0x7","status":"PROVISIONED","created":"2015-12-14T21:30:12.000Z","activated":"2015-12-14T21:30:12.000Z","statusChanged":"2015-12-14T21:30:12.000Z","lastLogin":null,"lastUpdated":"2016-03-30T15:15:48.000Z","passwordChanged":null,"profile":{},"credentials":{"password":{},"recovery_question":{"question":""},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://okta-test.okta.com/api/v1/link","method":"POST"},"resetPassword":{"href":"https://okta-test.okta.com/api/v1/link","method":"POST"},"resetFactors":{"href":"https://okta-test.okta.com/api/v1/link","method":"POST"},"expirePassword":{"href":"https://okta-test.okta.com/api/v1/link","method":"POST"},"forgotPassword":{"href":"https://okta-test.okta.com/api/v1/link","method":"POST"},"self":{"href":"https://okta-test.okta.com/api/v1/link"},"changeRecoveryQuestion":{"href":"https://okta-test.okta.com/api/v1/link","method":"POST"},"deactivate":{"href":"https://okta-test.okta.com/api/v1/link","method":"POST"},"changePassword":{"href":"https://okta-test.okta.com/api/v1/link","method":"POST"}}}]'
  recorded_at: Fri, 15 Jul 2016 02:06:31 GMT
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/users?after=200u3c0kdjah7fmnvO0x7&limit=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4hFKAKXSBiBB2eXu1haqgAABRc
      x-rate-limit-limit:
      - '[...]
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/users?after=200u3c0op3qtJsOMzf0x7&limit=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4hFKwKXSBiBB2eXu1ha@AAABVY
      x-rate-limit-limit:
      - '[...]
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/users?after=200u3c0q5qpgavZCNs0x7&limit=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4hFLd4KE9pTNUnmvp7LKwAADMY
      x-rate-limit-limit:
      - '[...]
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/users?after=200u3c0x5yzFQEVfuA0x7&limit=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4hFLwO7b8X@i3AU@d70@AAAB-s
      x-rate-limit-limit:
      - '[...]
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/users?after=200u3c10wwp3KuqpZY0x7&limit=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4hFMQO7b8X@i3AU@d71MwAACG0
      x-rate-limit-limit:
      - '[...]
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/users?after=200u48gtiz1vtFZG1M0x7&limit=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4hFNAO7b8X@i3AU@d71WQAAB9c
      x-rate-limit-limit:
      - '[...]
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/users?after=200u522fzt5FptowEN0x7&limit=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4hFNnBU7BgCVhxX5i4ExgAAC1A
      x-rate-limit-limit:
      - '[...]
- request:
    method: get
    uri: https://okta-test.okta.com/api/v1/users?after=200u5ri0t6657ThngI0x7&limit=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4hFOQKXSBiBB2eXu1hcXgAABNo
      x-rate-limit-limit:
      - '[...]
