---
http_interactions:
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/idps/tx/satvklBYyJmwa6qOg0g3/lifecycle/provision
    body:
      encoding: UTF-8
      string: '{"profile": {"userType": "Social"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - V4cZz59thkP2wy3aoVLwYwAAAdU
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1171'
      x-rate-limit-reset:
      - '1468471810'
    body:
      encoding: UTF-8
      string: '{"id":"satvkokI9JsOxqsjz0g3","status":"SUCCESS","sessionToken":"20111ItcRRtx_HOKguQRqx6YIeFL3L6cQhpqSCvLOD-fpj-3K53aqXN","expiresAt":"2016-01-04T02:40:43.000Z","created":"2016-01-04T02:32:23.000Z","idp":{"id":"0oabmluDNh2JZi8lt0g4","name":"Facebook","type":"FACEBOOK"},"context":{"userAgent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko)         Chrome/47.0.2526.106 Safari/537.36","ipAddress":"127.0.0.1"},"_links":{"next":{"href":"https://example.okta.com/api/v1/idps/tx/satvkokI9JsOxqsjz0g3/finish","hints":{"allow":["POST"]}},"cancel":{"href":"https://example.okta.com/api/v1/idps/tx/satvkokI9JsOxqsjz0g3/cancel","hints":{"allow":["POST"]}}}}'
  recorded_at: Thu, 14 Jul 2016 04:49:19 GMT
recorded_with: VCR 3.0.3
