---
http_interactions:
- request:
    method: delete
    uri: https://okta-test.okta.com/api/v1/apps/0oa6nmg6fdvwvoHwR0h7/groups/00g6nm9yt5VEl6xYd0h7
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 204
      message: 
    headers:
      x-okta-request-id:
      - V4cV4EkS67yJuNE68sz5HQAABLo
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1199'
      x-rate-limit-reset:
      - '1468470812'
      x-okta-backend:
      - op1-majorapp02a.aue1s.saasure.com
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 14 Jul 2016 04:32:32 GMT
- request:
    method: delete
    uri: https://okta-test.okta.com/api/v1/apps/0oa6nmg6fdvwvoHwR0h7/groups/00g6o0uh8xcL5WbyZ0h7
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - V4eZU@XAfLU1ttNceQfNrAAAAyA
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1193'
      x-rate-limit-reset:
      - '1468504415'
    body:
      encoding: ASCII-8BIT
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        00g6o0uh8xcL5WbyZ0h70oa6nmg6fdvwvoHwR0h7 (GroupAppAssignment)","errorLink":"E0000007","errorId":"oaeDOmY_ijmTWudBy3_gVbLQw","errorCauses":[]}'
  recorded_at: Thu, 14 Jul 2016 13:53:23 GMT
recorded_with: VCR 3.0.3
