---
http_interactions:
- request:
    method: delete
    uri: https://okta-test.okta.com/api/v1/apps/0oa6nmg6fdvwvoHwR0h7/users/00u6nm9ytbmwHeunx0h7
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 204
      message: 
    headers:
      x-okta-request-id:
      - V4cWCEkS67yJuNE68sz6HQAABRU
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1198'
      x-rate-limit-reset:
      - '1468470812'
      x-okta-backend:
      - op1-majorapp02a.aue1s.saasure.com
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 14 Jul 2016 04:33:12 GMT
- request:
    method: delete
    uri: https://okta-test.okta.com/api/v1/apps/0oa6nmg6fdvwvoHwR0h7/users/00u6o0w6tyuPVEeZr0h7
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - V4eZU@XAfLU1ttNceQfNowAAA8c
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1196'
      x-rate-limit-reset:
      - '1468504415'
    body:
      encoding: ASCII-8BIT
      string: '{"errorCode":"E0000007","errorSummary":"Not found: Resource not found:
        00u6o0w6tyuPVEeZr0h70oa6nmg6fdvwvoHwR0h7 (AppUser)","errorLink":"E0000007","errorId":"oae8pWYdMg8Q8Si_1qFpGX6GA","errorCauses":[]}'
  recorded_at: Thu, 14 Jul 2016 13:53:23 GMT
recorded_with: VCR 3.0.3
