---
http_interactions:
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7
    body:
      encoding: UTF-8
      string: '{"profile":{"firstName":"Bob","lastName":"User","email":"example@example.com","login":"example@example.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4eVoNtnJBqDdYPiZokVQQAAC4A
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1198'
      x-rate-limit-reset:
      - '1468503476'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"00u6o0w6tyuPVEeZr0h7","status":"PROVISIONED","created":"2016-07-14T13:29:56.000Z","activated":"2016-07-14T13:34:22.000Z","statusChanged":"2016-07-14T13:35:35.000Z","lastLogin":null,"lastUpdated":"2016-07-14T13:37:36.000Z","passwordChanged":"2016-07-14T13:29:56.000Z","profile":{"login":"example@example.com","mobilePhone":null,"email":"example@example.com","secondEmail":null,"firstName":"Bob","lastName":"User"},"credentials":{"recovery_question":{"question":"How
        much wood could a woodchuck chuck?"},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/lifecycle/suspend","method":"POST"},"resetPassword":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/lifecycle/reset_password","method":"POST"},"self":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7"},"deactivate":{"href":"https://okta-test.okta.com/api/v1/users/00u6o0w6tyuPVEeZr0h7/lifecycle/deactivate","method":"POST"}}}'
  recorded_at: Thu, 14 Jul 2016 13:37:36 GMT
recorded_with: VCR 3.0.3
