---
http_interactions:
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/meta/schemas/user/default
    body:
      encoding: UTF-8
      string: '{"definitions":{"custom":{"id":"#custom","type":"object","properties":{"twitterUserName":{"title":"Twitter
        username","description":"User''s username for twitter.com","type":"string","required":false,"minLength":1,"maxLength":10,"permissions":[{"principal":"SELF","action":"READ_ONLY"}]}},"required":[]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4edYdtnJBqDdYPiZomnegAAC1w
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1199'
      x-rate-limit-reset:
      - '1468505501'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"https://okta-test.okta.com/meta/schemas/user/default","$schema":"http://json-schema.org/draft-04/schema#","name":"user","title":"User","description":"Okta
        user profile template with default permission settings","lastUpdated":"2016-07-14T14:10:41.000Z","created":"2016-07-14T02:56:18.000Z","definitions":{"base":{"id":"#base","type":"object","properties":{"login":{"title":"Username","type":"string","required":true,"minLength":5,"maxLength":100,"permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"firstName":{"title":"First
        name","type":"string","required":true,"minLength":1,"maxLength":50,"permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"lastName":{"title":"Last
        name","type":"string","required":true,"minLength":1,"maxLength":50,"permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"middleName":{"title":"Middle
        name","type":"string","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"honorificPrefix":{"title":"Honorific
        prefix","type":"string","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"honorificSuffix":{"title":"Honorific
        suffix","type":"string","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"email":{"title":"Primary
        email","type":"string","required":true,"format":"email","permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"title":{"title":"Title","type":"string","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"displayName":{"title":"Display
        name","type":"string","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"nickName":{"title":"Nickname","type":"string","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"profileUrl":{"title":"Profile
        Url","type":"string","format":"uri","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"secondEmail":{"title":"Secondary
        email","type":"string","format":"email","permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"mobilePhone":{"title":"Mobile
        phone","type":"string","maxLength":100,"permissions":[{"principal":"SELF","action":"READ_WRITE"}]},"primaryPhone":{"title":"Primary
        phone","type":"string","maxLength":100,"permissions":[{"principal":"SELF","action":"HIDE"}]},"streetAddress":{"title":"Street
        address","type":"string","permissions":[{"principal":"SELF","action":"HIDE"}]},"city":{"title":"City","type":"string","permissions":[{"principal":"SELF","action":"HIDE"}]},"state":{"title":"State","type":"string","permissions":[{"principal":"SELF","action":"HIDE"}]},"zipCode":{"title":"Zip
        code","type":"string","permissions":[{"principal":"SELF","action":"HIDE"}]},"countryCode":{"title":"Country
        code","type":"string","format":"country-code","permissions":[{"principal":"SELF","action":"HIDE"}]},"postalAddress":{"title":"Postal
        Address","type":"string","permissions":[{"principal":"SELF","action":"HIDE"}]},"preferredLanguage":{"title":"Preferred
        language","type":"string","format":"language-code","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"locale":{"title":"Locale","type":"string","format":"locale","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"timezone":{"title":"Time
        zone","type":"string","format":"timezone","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"userType":{"title":"User
        type","type":"string","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"employeeNumber":{"title":"Employee
        number","type":"string","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"costCenter":{"title":"Cost
        center","type":"string","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"organization":{"title":"Organization","type":"string","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"division":{"title":"Division","type":"string","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"department":{"title":"Department","type":"string","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"managerId":{"title":"ManagerId","type":"string","permissions":[{"principal":"SELF","action":"READ_ONLY"}]},"manager":{"title":"Manager","type":"string","permissions":[{"principal":"SELF","action":"READ_ONLY"}]}},"required":["login","firstName","lastName","email"]},"custom":{"id":"#custom","type":"object","properties":{"twitterUserName":{"title":"Twitter
        username","description":"User''s username for twitter.com","type":"string","minLength":1,"maxLength":10,"permissions":[{"principal":"SELF","action":"READ_ONLY"}]}},"required":[]}},"type":"object","properties":{"profile":{"allOf":[{"$ref":"#/definitions/base"},{"$ref":"#/definitions/custom"}]}}}'
  recorded_at: Thu, 14 Jul 2016 14:10:41 GMT
recorded_with: VCR 3.0.3
