---
http_interactions:
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/apps/0oa6nmg6fdvwvoHwR0h7/users/00u6nm9ytbmwHeunx0h7
    body:
      encoding: UTF-8
      string: '{"profile":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-okta-request-id:
      - V4cWmEkS67yJuNE68sz@tAAABWA
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1198'
      x-rate-limit-reset:
      - '1468470966'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"00u6nm9ytbmwHeunx0h7","externalId":null,"created":"2016-07-14T04:35:36.000Z","lastUpdated":"2016-07-14T04:35:36.000Z","scope":"USER","status":"ACTIVE","statusChanged":"2016-07-14T04:35:36.000Z","passwordChanged":null,"syncState":"DISABLED","lastSync":null,"credentials":{"userName":"julian@example.com"},"profile":{},"_links":{"app":{"href":"https://okta-test.okta.com/api/v1/apps/0oa6nmg6fdvwvoHwR0h7"},"user":{"href":"https://okta-test.okta.com/api/v1/users/00u6nm9ytbmwHeunx0h7"}}}'
  recorded_at: Thu, 14 Jul 2016 04:35:36 GMT
- request:
    method: post
    uri: https://okta-test.okta.com/api/v1/apps/0oa6nmg6fdvwvoHwR0h7/users/00u6o0w6tyuPVEeZr0h7
    body:
      encoding: UTF-8
      string: '{"profile":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 500
      message: 
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - V4eZU@kF-t6HOvQdBAXk2gAABrw
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1197'
      x-rate-limit-reset:
      - '1468504415'
    body:
      encoding: UTF-8
      string: '{"errorCode":"E0000009","errorSummary":"Internal Server Error","errorLink":"E0000009","errorId":"oaeRfXqvZguSZWPScoNamCD3A","errorCauses":[]}'
  recorded_at: Thu, 14 Jul 2016 13:53:23 GMT
recorded_with: VCR 3.0.3
