---
http_interactions:
- request:
    method: put
    uri: https://okta-test.okta.com/api/v1/idps/0oa62bfdjnK55Z5x80h7
    body:
      encoding: UTF-8
      string: "{'id':'0oa62bfdjnK55Z5x80h7','type':'SAML2','name':'Example IdP','protocol':{'type':'SAML2','endpoints':{'sso':{'url':'https://idp.example.com/saml2/sso','binding':'HTTP-REDIRECT','destination':'https://idp.example.com/saml2/sso'},'acs':{'binding':'HTTP-POST','type':'INSTANCE'}},'algorithms':{'request':{'signature':{'algorithm':'SHA-256','scope':'REQUEST'}},'response':{'signature':{'algorithm':'SHA-256','scope':'ANY'}}},'credentials':{'trust':{'issuer':'https://idp.example.com','audience':'https://www.okta.com/saml2/service-provider/spCQJRNaaxs7ANqKBO7M','kid':'74bb2164-e0c8-4457-862b-7c29ba6cd2c9'}}},'policy':{'provisioning':{'action':'AUTO','profileMaster':true,'groups':{'action':'NONE'}},'accountLink':{'filter':null,'action':'AUTO'},'subject':{'userNameTemplate':{'template':'idpuser.subjectNameId','type':'BUILT_IN'},'format':['urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified'],'filter':null,'matchType':'USERNAME'},'maxClockSkew':120000}}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - V4cZzSGXJLimuAsnJGeimQAABuE
      x-rate-limit-limit:
      - '1200'
      x-rate-limit-remaining:
      - '1179'
      x-rate-limit-reset:
      - '1468471810'
    body:
      encoding: UTF-8
      string: '{"id":"0oa62bfdjnK55Z5x80h7","type":"SAML2","name":"Example IdP","status":"INACTIVE","created":null,"lastUpdated":"2016-03-29T21:23:45.000Z","protocol":{"type":"SAML2","endpoints":{"sso":{"url":"https://idp.example.com/saml2/sso","binding":"HTTP-REDIRECT","destination":"https://idp.example.com/saml2/sso"},"acs":{"binding":"HTTP-POST","type":"INSTANCE"}},"algorithms":{"request":{"signature":{"algorithm":"SHA-256","scope":"REQUEST"}},"response":{"signature":{"algorithm":"SHA-256","scope":"ANY"}}},"settings":{"nameFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified"},"credentials":{"trust":{"issuer":"https://idp.example.com","audience":"https://www.okta.com/saml2/service-provider/spCQJRNaaxs7ANqKBO7M","kid":"your-key-id"}}},"policy":{"provisioning":{"action":"AUTO","profileMaster":true,"groups":{"action":"NONE"}},"accountLink":{"filter":null,"action":"AUTO"},"subject":{"userNameTemplate":{"template":"idpuser.subjectNameId"},"filter":null,"matchType":"USERNAME"},"maxClockSkew":120000},"_links":{"metadata":{"href":"https://your-domain.okta.com/api/v1/idps/0oa62bc8wppPw0UGr0h7/metadata.xml","type":"application/xml","hints":{"allow":["GET"]}},"acs":{"href":"https://your-domain.okta.com/sso/saml2/0oa62bc8wppPw0UGr0h7","type":"application/xml","hints":{"allow":["POST"]}},"users":{"href":"https://your-domain.okta.com/api/v1/idps/0oa62bc8wppPw0UGr0h7/users","hints":{"allow":["GET"]}},"activate":{"href":"https://your-domain.okta.com/api/v1/idps/0oa62bc8wppPw0UGr0h7/lifecycle/activate","hints":{"allow":["POST"]}}}}'
  recorded_at: Thu, 14 Jul 2016 04:49:17 GMT
recorded_with: VCR 3.0.3
