---
http_interactions:
- request:
    method: put
    uri: https://okta-test.okta.com/api/v1/authorizationServers/aus4wmezfewflnJvd5d7
    body:
      encoding: UTF-8
      string: '{"name":"New Authorization Server","description":"Authorization Server
        New Description","issuerMode":"ORG_URL","audiences":["api://default"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-okta-request-id:
      - YnGkXgsoWyB-uZQpAey@NwAABEk
      x-rate-limit-limit:
      - '100'
      x-rate-limit-remaining:
      - '99'
      x-rate-limit-reset:
      - '1651614874'
    body:
      encoding: UTF-8
      string: '{"id":"aus4wmezfewflnJvd5d7","name":"New Authorization Server","description":"Authorization
        Server New Description","audiences":["api://default"],"issuer":"https://okta-test.okta.com/oauth2/aus4wmezfewflnJvd5d7","issuerMode":"ORG_URL","status":"ACTIVE","created":"2022-05-03T21:12:24.000Z","lastUpdated":"2022-05-03T21:53:34.000Z","credentials":{"signing":{"kid":"gFiUvGTKoo6ksMgpOHaNQG8hdBuKHbZLE2GWsgW2f00","rotationMode":"AUTO","lastRotated":"2022-05-03T21:12:24.000Z","nextRotation":"2022-08-01T21:12:24.000Z"}},"_links":{"rotateKey":{"href":"https://okta-test.okta.com/api/v1/authorizationServers/aus4wmezfewflnJvd5d7/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://okta-test.okta.com/oauth2/aus4wmezfewflnJvd5d7/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://okta-test.okta.com/oauth2/aus4wmezfewflnJvd5d7/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://okta-test.okta.com/api/v1/authorizationServers/aus4wmezfewflnJvd5d7/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://okta-test.okta.com/api/v1/authorizationServers/aus4wmezfewflnJvd5d7/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://okta-test.okta.com/api/v1/authorizationServers/aus4wmezfewflnJvd5d7/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://okta-test.okta.com/api/v1/authorizationServers/aus4wmezfewflnJvd5d7","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://okta-test.okta.com/api/v1/authorizationServers/aus4wmezfewflnJvd5d7/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://okta-test.okta.com/api/v1/authorizationServers/aus4wmezfewflnJvd5d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
  recorded_at: Tue, 03 May 2022 21:53:34 GMT
recorded_with: VCR 6.0.0
